<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Contrata tu plan')">
<meta charset="UTF-8">
</head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div sec:authorize="isAuthenticated()" class="col-10 mt-5 mb-5">

				<form action="#" th:action="@{/contrataPlan}" th:object="${cliente}" method="post">
								<div class="d-flex justify-content-around">

					<div class="card mt-5" style="width: 18rem;">
						<img class="card-img-top" src="/img/monitor.png"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">1 Mes 39'99€</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Acceso de Lunes a Viernes</li>
							<li class="list-group-item">Acceso a toda la maquinaria</li>
							<li class="list-group-item">Reserva de clases (Excepto
								kick-boxing)</li>
						</ul>
						<div class="card-body">
						
						    <input type="hidden" class="form-control" id="plan1" name="plan" value="1">
							<input type="submit" class="btn btn-primary w-100 mt-3"
								value="Contrata Ya!" />
						</div>
					</div>
				</form>


				<form action="#" th:action="@{/contrataPlan}" th:object="${cliente}" method="post">

					<div class="card mt-5" style="width: 18rem;">
						<img class="card-img-top" src="/img/mancuernas.png"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">2 Meses 69'99€</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Acceso de Lunes a Sabado
								(Mañana)</li>
							<li class="list-group-item">Acceso a toda la maquinaria</li>
							<li class="list-group-item">Reserva de clases</li>
							<li class="list-group-item">Kick-Boxing</li>

						</ul>
						<div class="card-body">
						    <input type="hidden" class="form-control" id="plan2" name="plan" value="2">
							<input type="submit" class="btn btn-primary w-100 mt-3"
								value="Contrata Ya!" />
						</div>
					</div>
				</form>
				
				
				<form action="#" th:action="@{/contrataPlan}" th:object="${cliente}" method="post">

					<div class="card mt-5" style="width: 18rem;">
						<img class="card-img-top" src="/img/sauna.png"
							alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">4 Meses 119'99€</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Acceso de Lunes a Sabado
								(Mañana)</li>
							<li class="list-group-item">Acceso a toda la maquinaria</li>
							<li class="list-group-item">Reserva de clases</li>
							<li class="list-group-item">Kick-Boxing</li>
							<li class="list-group-item">Sauna</li>

						</ul>
						<div class="card-body">
						    <input type="hidden" class="form-control" id="plan3" name="plan" value="3">
							<input type="submit" class="btn btn-primary w-100 mt-3"
								value="Contrata Ya!" />
						</div>
					</div>
					</form>


				</div>





		</div>






















		</div>
	</div>
</body>
</html>