<!DOCTYPE html>
<html>
  <head th:replace="fragments/bootstrap::head(title='¡El Saber Es Poder!')">
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&display=swap");
    * {
      font-family: "Anek Gurmukhi", sans-serif;
    }

    .header {
      padding: 0rem;
    }

    .header > * {
      background: rgb(77, 68, 5);
      background: linear-gradient(
        90deg,
        rgba(77, 68, 5, 1) 0%,
        rgba(120, 101, 27, 1) 47%,
        rgba(77, 68, 5, 1) 100%
      );
    }

    .header > div {
      padding: 0rem;
    }

    .fondo {
      background: rgb(245, 238, 182);
      background: linear-gradient(
        90deg,
        rgba(245, 238, 182, 1) 0%,
        rgba(249, 246, 226, 1) 47%,
        rgba(245, 238, 182, 1) 100%
      );
    }

    .logo {
      display: flex;
      width: 23rem;
    }

    h3 {
      font-weight: bold;
    }
  </style>
  <body>
    <div class="container-fluid col-12 ml-0 mr-0">
      <div class="fondo row justify-content-center">
        <header class="header" th:insert="fragments/parts::menu"></header>
        <div sec:authorize="isAuthenticated()" class="col-10 mt-5 mb-5">
          <div class="row col-12 mb-2">
            <h3 style="font-style: italic">Las Proteínas</h3>

            <img src="/img/proteinas.png" class="img-fluid mb-3 mt-3" />

            <div class="row col-10 mb-4 mt-4">
              Las proteínas son moléculas formadas por aminoácidos que están
              unidos por un tipo de enlaces conocidos como enlaces peptídicos.
              El orden y la disposición de los aminoácidos dependen del código
              genético de cada persona. Todas las proteínas están compuestas
              por: Carbono, Hidrógeno, Oxígeno, Nitrógeno Y la mayoría contiene
              además azufre y fósforo.
            </div>

            <div class="row col-10 mb-4">
              Las proteínas suponen aproximadamente la mitad del peso de los
              tejidos del organismo, y están presentes en todas las células del
              cuerpo, además de participar en prácticamente todos los procesos
              biológicos que se producen.
            </div>

            <h4>Funciones de las proteínas</h4>

            <div class="row" col-10 mb-4>
              De entre todas las biomoléculas, las proteínas desempeñan un papel
              fundamental en el organismo. Son esenciales para el crecimiento,
              gracias a su contenido de nitrógeno, que no está presente en otras
              moléculas como grasas o hidratos de carbono. También lo son para
              las síntesis y mantenimiento de diversos tejidos o componentes del
              cuerpo, como los jugos gástricos, la hemoglobina, las vitaminas,
              las hormonas y las enzimas (estas últimas actúan como
              catalizadores biológicos haciendo que aumente la velocidad a la
              que se producen las reacciones químicas del metabolismo).
              Asimismo, ayudan a transportar determinados gases a través de la
              sangre, como el oxígeno y el dióxido de carbono, y funcionan a
              modo de amortiguadores para mantener el equilibrio ácido-base y la
              presión oncótica del plasma.
            </div>
          </div>

          <div class="row col-12 mt-5 mb-2">
            <h3>Cómo diseñar un plato de comida equilibrado</h3>

            <img src="/img/platoComida.png" class="img-fluid mb-3 mt-3" />

            <div class="row col-10 mb-4 mt-4">
              Con el ritmo de vida que llevamos, muchas personas creen que
              disfrutar de un plato rico y saludable puede convertirse en misión
              imposible… pero nada de eso. Nosotros te vamos a dar la receta
              perfecta para diseñar un plato completo y sano, que esté bueno ya
              depende de ti. Un buen ejemplo podrían ser estos rollitos de
              aguacate con salmón y sisho.
            </div>

            <h4>La mitad del plato de verduras o fruta</h4>

            <div class="row col-12 mb-4">
              La parte importante de tu comida debe ser verdura o fruta. En
              concreto la mitad de tu plato o táper tiene que contener productos
              tales como las espinacas, el brócoli, los guisantes o cualquier
              producto vegetal que se te ocurra con una excepción, las patatas.
              Este tubérculo es el único que no entraría en la terna de
              vegetales debido a la gran cantidad de azúcar que contiene.
            </div>

            <h4>Un cuarto del plato de cereales integrales</h4>

            <div class="row col-12 mb-4">
              El incluir en nuestra receta un cuarto de cereales integrales
              puede beneficiarte sobremanera. Añadir quinoa, trigo integral u
              otros muchos cereales nos ofrecerán ganancias como que estos
              alimentos aportan energía en forma de hidratos de carbono lentos y
              apenas contienen grasas, siendo además éstas sanas, ayudan a
              regular el colesterol por su contenido en fibra soluble y, entre
              otras cosas previenen algunos tipos de tumores como el de colon,
              mama y pulmón.
            </div>

            <h4>El cuarto que nos queda, de proteinas</h4>

            <div class="row col-12 mb-4">
              Pescados como el bacalao o el atún son fuentes de proteínas
              saludables. También pueden entrar en tu dieta el pollo, o los
              garbanzos y lentejas si no comes producto animal. En este aspecto,
              aunque la carne roja contiene proteínas, no es recomendable
              ingerirla más de dos veces a la semana. Igualmente, cuidado con el
              queso por su alto contenido en grasas
            </div>

            <h4>Por último, aceite de oliva y para beber, agua</h4>

            <div class="row col-12 mb-4">
              Además de ser típico de nuestra dieta mediterránea, el aceite
              oliva es, sin abusar, muy saludable. Para beber, aléjate todo lo
              posible de las bebidas gaseosas y de las alcohólicas. Sustitúyelas
              por agua o como mucho por té o un café que no contenga mucha
              azúcar
            </div>
          </div>

          <div class="row col-12 mb-2">
            <h3>¿Cómo empezar a hacer deporte?</h3>

            <img src="/img/deporte.png" class="img-fluid mb-3 mt-3" />

            <h4>Fija tu objetivo realista</h4>

            <div class="row col-12 mb-4">
              Si quieres empezar a hacer ejercicio desde 0, lo primero a tener
              en cuenta es que hay que fijar un objetivo, es decir, mentalizarte
              si realmente quieres ejercitarte y qué meta deseas alcanzar con
              ello. Eso sí, debes fijar metas plausibles para, luego, no
              experimentar decepciones o sensación de fracaso que te hagan
              desistir de ejercitarte. Si, por ejemplo, te fijas como objetivo
              perder 10 kilos en un mes, seguramente no sea un objetivo
              realista. Cuando comienzas a ejercitarte, tienes que ser realista
              con tus aspiraciones. En lugar de perder cierta cantidad de kilos
              a perder, mentalízate en el simple hecho de ejercitarte para verte
              y sentirte mejor. De este modo, los resultados serán más fáciles
              de alcanzar, evitarás imponerte presiones innecesarias e irás
              perdiendo el sobrepeso que tengas de forma más saludable.
            </div>

            <h4>No excedas tu límite</h4>

            <div class="row col-12 mb-4">
              Para tener claro cómo empezar a hacer ejercicio desde 0 o si en tu
              caso quieres empezar a hacer deporte con obesidad o algún otro
              problema de salud, es vital que seas consciente de tu condición
              física y que hables con tu médico sobre cuál puede ser el mejor
              ritmo para ti, e incluso consultar qué tipo de deporte o
              ejercicios necesitas. Ante todo está tu salud y si quieres ver
              resultados óptimos y duraderos, ajustar el deporte a cada fase de
              tu evolución será lo mejor. Asimismo, es igual de importante
              conocer cómo y cuándo empezar a hacer deporte después del parto y,
              por ello, recomendamos hablarlo con el médico para ir sobre seguro
              y cuidar tu salud.
            </div>

            <div class="row col-12 mb-4">
              Al hacer ejercicio, la idea es trabajar tus músculos de forma
              consistente y evitando fatigarte en extremo. Debes asegurarte de
              establecer un ritmo funcional, con un nivel de intensidad acorde a
              tu fortaleza y resistencia. Al comenzar a ejercitarse, la
              frecuencia con la que se hace es algo vital. Por ello, es muy
              importante que puedas ejercitarte unos 4 o 5 días a la semana, con
              jornadas de entrenamiento de 30 minutos. Sin embargo, este tiempo
              puede dividirse en intervalos, según tu conveniencia. Lo
              importante es que el tipo y la intensidad del ejercicio lo fijes
              tú y empieces por algo asequible para ti en tu estado actual y lo
              vayas aumentando según necesites y evoluciones.
            </div>
          </div>

          <h4>Empieza con ejercicios fáciles</h4>

          <div class="row col-12 mb-4">
            Muchos piensan que para comenzar a hacer ejercicio el gimnasio es la
            solución. Por supuesto, en el gimnasio contarás con entrenadores y
            maquinaria especializada para ayudarte a ponerte en forma, pero si
            realmente quieres dar el primer paso, en casa puedes lograr la
            diferencia. Cuando llevas mucho tiempo sin ejercitarte, tu cuerpo no
            soportará demasiada exigencia física, por lo cual debes tener mucho
            cuidado de no lesionarte y seleccionar bien los ejercicios que
            haces. Para empezar a hacer ejercicio desde 0 puedes enfocarte en 3
            tipos de ejercicios aeróbicos, es decir, ejercicios de baja
            intensidad para controlar tu respiración y mejorar tu condición
            física
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
